{% extends 'base.html' %}
{% load static %}

{% block title %}
  Home Page
{% endblock %}
{% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block content %}
  <div class="filters">
    <input type="text" id="name-search" placeholder="Search by name..." />
    <div class="tags-list">
      {% for tag in tags %}
        <button class="tag" data-tag="{{ tag.name|lower }}">{{ tag.name }}</button>
      {% endfor %}
    </div>
  </div>
  <div class="projects-list">
    {% for project in projects %}
      <div class="project" data-name="{{ project.title|lower }}" data-tags="{{ project.tags.all|join:', '|lower }}">
        <h2><a href="{% url 'project' project.id %}">{{project.title}}</a></h2>
        <p>{{project.description}}</p>
        <p>Tags: {{project.tags.all|join:', '}}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/home.js' %}"></script>
{% endblock %}
